/* mobile responsive */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    .nav-option, ul{
flex-direction: column;  
align-items: center;  
margin-top: 20px;
}

#g-word{
    font-size: 3rem;
}
ul li{
    margin-top: 20px;
}


    .follow-section {
        margin-top: 30px;
    }
   
    /* banner */
    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        width: 90%;
        height: 90%;
        /* height: 100%; */
        margin: 10px;
    }

    .banner-content-text h1 {
        font-size: 3rem;
    }

    .banner-content-text h2 {
        font-size: 2rem;
    }

    .banner-content-text p {
        font-size: 1rem;
    }

    .banner-content-text button {
        font-size: 13px;
        font-weight: 400;
        padding: 7px 12px;
    }

    .banner-img {
        width: 100%;
        padding: 20px;
    }

    .banner-img img {
        width: 100%;
    }

    /* cards */

    .video-cards {

      flex-direction: column;
      align-items: center;

    }
    .video-card{width: 84%; margin-bottom: 10px;}

    
    .game-title {

        font-size: 20px;

    }

    .game-title-gradient {
        font-size: 20px;
    }

    .game-description {
        font-size: 10px;
    }
    /* play */
    .play-instantly-section {
        flex-direction: column;
        padding: 20px;
    }
    .play-content {
        width: 90%;
        text-align: center;
    }
    .play-img{
        width: 80%;
        margin-top: 30px;
    }
    .play-img img{
        width: 100%;
    }

    .second-img{
      width: 40%;
      
    }
    /* gaming option */
    .gaming-option-section{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding: 20px;
    }
   
    .options{
        display: flex;
        gap: 30px;
        flex-basis: content;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item img{
        width: 25px;
    }
    .item p{
        font-size: 10px;
    }
    .option img{
        width: 10%;
    }
    .option p{width: 90%;}
    .option {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: start;
        align-content: center;
        padding: 5px ;
        gap: 0px;

    }
    .option img {
        width: 40px;
        margin: 0;
        padding: 0;
    }
    .option p {
        width: 100%;
        color: #0B0223;
        font-size: 10px;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    .footer-section {
        padding: 20px;
    }
    .features{gap: 10px;}
    .features p{
        font-size: 16px;
    }
    .features,.social-icons {
        
        grid-template-columns: repeat(3, 1fr);
       justify-content: center;
       align-items: center;
    }
    
    .social-icons i {
        font-size: 40px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .policy {
        display: grid;
        gap: 20px;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 70px;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-logo {
        width: 70%;
        margin:  0 auto;
        margin-right: 100px;
        
    }
    .footer-logo h3, .footer-g{
        font-size: 20px;
    }
    .footer-logo{
        width: 25px;
    }
}


/* Tablet device style   */
@media screen and (min-width:576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
    }

    .nav-option, ul {
        margin-top: 30px;
    }
    ul li{
     margin-bottom: 20px;
    }

    /* banner */
    .banner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content {
        width: 90%;
        margin-top: 50px;
    }

    .banner-img {
        width: 90%;
        padding: 20px;
    }
    /* video card */
    .video-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px ;
    }
    .video-card{width: 90%; margin-bottom: 10px;}
    .video-card p{
        margin: 0;
    }
    .play-instantly-section {
        flex-direction: column;
        padding: 20px;
    }
    .play-content {
        width: 90%;
        text-align: center;
    }
    .play-img{
        width: 80%;
        margin-top: 30px;
    }
    footer{
        text-align: center;
    }
    .play-img img{
        width: 100%;
    }
    .option {
        padding: 5px 20px;
        border-radius: 15px;
    }
    .policy {
        max-width: 100%;
      
    }
    .footer-logo{
        width: 25px;
    }
    .footer-logo {
        width: 70%;
        margin:  0 auto;
        margin-right: 100px;
        
    }
    .footer-logo h3, .footer-g{
        font-size: 20px;
    }
}