/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.color-primary {
    color: #FF42A5;
}

/* header style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;


}

.option, ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
}
.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    width: 86.041px;
    height: 40px;
    margin-right: 10px;
}

.logo-section h3,
.g {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}


.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option a {
    text-decoration: none;
}

.option a,
span {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-section {
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 16px ;
    border-radius: 8px;
}

.option a {
    margin-right: 30px;
}

.follow-section span {
    margin-right: 24px;
}

.follow-section .fa-brands {
    margin-right: 16px;
}

.follow-section img {
    width: 35px;
}

.fa-youtube {
    color: rgba(246, 28, 13, 1);
    font-size: 2rem;
}



/* banner section style */
.banner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    width: 40%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/banner1goatbg.png');
    background-size: 100%;
}

.banner-content-text {
    padding: 50px;
}

.banner-content-text button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
}

.signIn-btn {
    background-color: #FF42A5;
}

.goRogue-btn {
    background-color: rgba(78, 197, 247, 1);
}

.banner-img {
    width: 50%;
}

.banner-subtitle {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-title {
    font-size: 5.5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-top: 15px;
}

.fa-circle-play,
.fa-download {
    color: #F948B2;
    margin-right: 12px;
    font-size: 1.5rem;
}

.fa-user-group {
    font-size: 1.5rem;
    margin-right: 12px;
    color: purple;
}

/* funny-game-videos style */
.funny-game-videos {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.game-title {
    text-align: center;

    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.game-title-gradient {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;

}

.game-description {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
}

.play-title-color {
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    color: #F948B2;

}
/* video card style */
.video-cards {
    display: flex;
    gap: 24px;
    padding: 10px;
}

.video-card {
    width: 342px;
    height: 400px;
}

.video-card img {
    width: 100%;
}

.video-card p {
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* Play Instantly style */
.play-instantly {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
}

.play-instantly-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-content {
    width: 25%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-content p {
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-img img {
    width: 100%;
}

.play-img {
    width: 50%;
    position: relative;
}

.second-img {
    position: absolute;
    bottom: -100px;
    left: -50px;

}

/* gaming option style */
.gaming-option {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 200px;
}

.gaming-option-section {
    display: flex;
    gap: 30px;
    flex-basis: content;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    padding: 5px 50px;
    border-radius: 15px;
}



.option img {
    width: 50px;
    margin-right: 5px;
}

.option p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.option:hover {

    border: 1px solid #F948B2;
    color: #F948B2;
}

.option:hover p {
    color: #F948B2;
}

/* footer style */
footer {
    background-color: #0B0223;
    color: white;
}

.footer-section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    padding: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-logo h3 {
    font-size: 40px;
}
.footer-logo img{
    width: 30%;
}

.features {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(6, 1fr);
}

.features p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.social-icons {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    display: grid;
    gap: 0;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

.policy {
    display: grid;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 70px;
    grid-template-columns: repeat(4, 1fr);
}

.social-icons i {
    font-size: 40px;
    color: white;
}

.policy p,
.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}



.video-card {
    width: 342px;
    height: 400px;
    border-radius: 10px;
    position: relative;
}

img {
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 15px;
}

.content {
    width: 342px;
    height: 400px;
    top: 0;
    left: 10;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #F948B2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.content h2{
    color: white;
}

.content:hover {
    opacity: 1;
    border: 3px solid #F948B2;
    border-radius: 15px;
}